// main index page start
* {
    margin: 0;
    padding: 0;
    }
          
header {
    // display: flex;
    text-align: center;
    background-color:royalblue;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    grid-area: header;
    padding: 15px;
}
header:hover {
    color:whitesmoke;
    transition:all 2.5s ease;
    transform: scale(1.1);
}

#main-nav {
    height: 7.5em;
    width: 100%;
    .nav {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        list-style-type: none;
        margin: 0 auto;
        padding: 3px;
        border-radius: 5%;
        background-color:grey;
        height:25px;
    }
    .nav a:hover {
        color:whitesmoke;
        transition:all 0.4s ease;
    }
}

body {
    background-image: url("../docs/blue-background-effect.jpg");  
}

#container {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 25% 25% 50%;
    grid-template-areas:
    "logo"
    "text"
    "image";
    // background-image: url("../docs/blue-background-effect.jpg");
}

.logo{
    display: flex;
    align-items: center;
    grid-area: logo;
    justify-content: center;
    padding: 1%;
    &:hover{
        transition: 2s;
        // box-shadow: 0px 0px 20px red;
        transform: scale(1.1);
    }
}
#my-logo{
    border-radius: 20%;
    width: 25%;
    &:hover{
        transition: .5s;
        box-shadow: 0px 0px 20px blue;
        transform: scale(1.2); 
    }
}

.text{
    grid-area: text;
    color:whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 1%;
}

#main-text{
    padding: 4%;
    border-radius:20%;
    &:hover{
        transition: 2s;
        // background-color: rgb(255, 0, 0);opacity:0.8;
        box-shadow: 0px 0px 20px red;
        transform: scale(1.15);
        background-color: black;
    }
}

.image{
    grid-area: image;
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    border-radius: 25%;
    padding: 3em;
}

 #home-image{
     height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    border-radius:10%;
    &:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.1);
    box-shadow: 0px 0px 30px blue;
    }
}

#footer{
    
    color: whitesmoke;
    text-align: center;
    padding: 100px;
}
// main index page end 


// contact me page starts
header {
    text-align: center;
    background-color:royalblue;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    grid-area: header;
    padding: 15px;
}
header:hover {
    color:whitesmoke;
    transition:all 2.5s ease;
    transform: scale(1.1);
}

#contact-nav {
    height: 7.5em;
    width: 100%;
    .contact-nav {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        list-style-type: none;
        margin: 0 auto;
        padding: 3px;
        border-radius: 5%;
        background-color:grey;
        height:25px;
    }
    .contact-nav a:hover {
        color:whitesmoke;
        transition:all 0.4s ease;
    }
}

#my-logo-contact{
    border-radius: 20%;
    width: 25%;
    &:hover{
        transition: 1s;
        box-shadow: 0px 0px 20px blue;
        transform: rotate(360deg);
    }
}
#contact-container {
    display: grid;
    position: relative;
    bottom: -50px;
    grid-gap: 2rem;
    grid-template-rows: auto;
    grid-template-areas:
    "email" "facebook";
}
.email{
    grid-area: email;
    background-color: grey;
    color:whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25%;
    padding: 1%;
}
#email-id{
    padding: 4%;
    border-radius:20%;
    &:hover{
        transition: 2s;
        box-shadow: 0px 0px 30px red;
        transform: scale(1.5);
        background-color: whitesmoke;
    }
}
.facebook{
    grid-area: facebook;
    background-color: grey;
    color:whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25%;
    padding: 1%;
}
#facebook-id{
    padding: 4%;
    border-radius:20%;
    &:hover{
        transition: 2s;
        box-shadow: 0px 0px 30px red;
        transform: scale(1.5);
        background-color: whitesmoke;
    }
}
// contact me page end